# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Ignorer les fichiers de configuration de Netlify
netlify.toml
setup netlify

# Ignorer les fichiers de configuration de projet
eslint.config.mjs
jsconfig.json
next.config.mjs
package-lock.json
package.json
tsconfig.json
# dependencies
/next.config.mjs
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/
/packages-lock.json/
/packages.json/
/tsconfig.json/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Next.js
.next
out
node_modules
.next/cache
.next/static

# Logs & environnement
.env.local
.env.development.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*