.navbar {
  display: flex;
  justify-content: space-between; /* Espacer le logo et les liens */
  align-items: center;
  padding: 1rem 2rem;
  background-color: #222; /* Fond sombre */
  color: white;
}

.navbarLogo {
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.navbarLinks {
  list-style: none;
  display: flex;
  gap: 1.5rem; /* Espacement entre les liens */
}

.navbarLinks li {
  display: inline-block;
}

.navbarLinks a {
  text-decoration: none;
  color: white; /* Supprime le bleu */
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.navbarLinks a:hover {
  color: yellow; /* Change en jaune au hover */
}
